
<form action="url">

  <h1>INICIO DE SESION </h1>
     <label>Correo Electronico: </label><input/email>
     <label>Contraseña: </label>
     <input type="password" value="contraseña" name="contraseña" id="">
     <br></br>
     
    <input type="button" value="ingresar">
    <input type="button" value="registrarse">
    <br></br><br></br><br></br><br></br>


    <h1>REGISTRO </h1>

    <label>Nombre y Apellido: </label><input type="password" name="" id="">
    <br></br>
    <label>Ciudad: </label><input type="password" name="" id="">
    <br></br>
    <label>Direccion: </label><input type="password" name="" id="">
    <br></br>
    <label>Telefono: </label><input type="password" name="" id="">
    <br></br>
    <label>Fecha de Nacimiento: </label><input type="password" name="" id="">
    <br></br>
    <label>Correo Electronico: </label><input/email><br></br>
    <label>Sexo: </label>
    <input type="radio" name="sexo" value="mujer">Mujer
    <input type="radio" name="sexo" value="hombre">Hombre<br></br>

    <input type="button" value="ingresar">
